{*
 * Copyright (c) 2021 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

<div class="position-relative">
    <div class="google-map-contact position-relative w-100" id="google-map-contacts" style="height: 600px"></div>
</div>