services:
    routerFactory: Strategio\Router\RouterFactory

    - Strategio\Model\ContactDataset
    - Strategio\Model\MembersDataset
    - Strategio\Model\FaqDataset
    - Strategio\Model\TestimonialDataset
    - Strategio\Model\RevisionDataset