services:
    routerFactory: Strategio\Router\RouterFactory

    - Strategio\Model\NavbarDataset
    - Strategio\Model\ContactDataset
    - Strategio\Model\FaqDataset
    - Strategio\Model\TestimonialDataset
    - Strategio\Model\RevisionDataset
    - Strategio\Model\WhyUsDataset