services:
    routerFactory: Strategio\Router\RouterFactory

    - Strategio\Model\ContactDataset
    - Strategio\Model\PricingDataset
    - Strategio\Model\ContentioDataset
    - Strategio\Model\HomepageDataset